{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body>
    <center><br><br>
        <h1>Sample signup</h1>
        <br><br><br>
        <div>
            <a href="signup/" style="margin-right: 20px;"><button type="submit"
                    class="btn btn-success">Signup</button></a>
            <a href="signin/"><button type="submit" class="btn btn-primary">Signin</button></a>
        </div>

    </center>
</body>

</html>