{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body>
    <a href="/"><button class="btn btn-warning mt-2 ms-2" type="submit">Home</button></a>
    <br><br>
    <center>
        <h1>Signin</h1>
        <br><br>
        <form action="" method="post">
            {% csrf_token %}
            <span id="name-error" class="text-danger"></span>
            <input class="form-control" type="text" name="username" id="name-value" placeholder="Enter username"
                required>
            <br>
            <span id="pwd-error" class="text-danger"></span>
            <input class="form-control" type="password" name="password" id="passwordid" placeholder="Enter password"
                required>
            <br>

            {% if login_error_message %}
            <span class="text-danger" id="login_error_message">{{ login_error_message }}</span>
            <script>
                setTimeout(function () {
                    var login_error_message = document.getElementById("login_error_message");
                    login_error_message.style.display = "none";
                }, 3000)
            </script>
            {% endif %}
            <p style="text-align: end;">Don't have an account? <a class="text-primary" style="text-decoration: none;"
                    href="/signup/">signup</a></p>
            <button class="btn btn-primary" type="submit" style="margin-left: 100px;">Signin</button>
            <button class="btn btn-danger ms-2" type="reset">Reset</button>


        </form>
        <br><br>

    </center>
</body>
<script src="{% static 'signin.js' %}"></script>

</html>