<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <a href="/"><button>Home</button></a>
    <center>
        <h1>Signin</h1>
        <br><br><br>
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Username</label>
            <input type="text" name="name" id="name" placeholder="Enter full name" required>
            <span id="name-error" class="error"></span>
            <br><br>
            <label>Password: </label>
            <input type="password" name="password" id="password" required>
            <span id="password-error"></span>
            <br><br>
            {% if login_error %}
            <span style="color: red;" id="login_error">{{login_error}}</span>
            <script>
                setTimeout(function () {
                    var login_error = document.getElementById("login_error")
                    login_error.style.display = "none";
                }, 3000)
            </script>
            {% endif %}
            <br>
            <button type="submit" id="btn-id">Signin</button>
            <button type="reset">Reset</button>
            <p>Don't have an account <a href="/signup/">signup</a></p>
        </form>
    </center>
</body>
<script>
    nameValue = document.getElementById("name")
    emailValue = document.getElementById("email")
    passwordValue = document.getElementById("password")

    nameError = document.getElementById("name-error")
    emailError = document.getElementById("email-error")
    passwordError = document.getElementById("password-error")

    btn = document.getElementById("btn-id")

    // NAME VALIDATION

    function validateName() {
        const name = nameValue.value;

        if (name.length == 0) {
            nameError.textContent = "Name is required";
            btn.disabled = true;
            return false;
        }

        if (!name.match(/^[A-Za-z]{3,}\s{1,}[a-zA-Z]+$/))// \s means blank space
        {
            nameError.textContent = `Enter full name`;
            btn.disabled = true;
            return false;
        }

        nameError.innerHTML = `<i class='fas fa-check-circle icon'></i>`;
        btn.disabled = false;
        return true;
    }

    nameValue.addEventListener("keyup", validateName);
    nameValue.addEventListener("blur", validateName);

    // Password Error
    function validatePassword() {
        const password = passwordValue.value;
        if (password == 0) {
            passwordError.textContent = "Password is required"
            btn.disabled = true
            return false
        }
        if (!password.match(/^[A-Za-z1-9]{6,}$/)) {
            passwordError.textContent = "Password"
            btn.disabled = true
            return false
        }
        passwordError.innerHTML = "Success"
        btn.disabled = false
        return true
    }

    passwordValue.addEventListener("keyup", validatePassword);
    passwordValue.addEventListener("blur", validatePassword);

</script>

<script>




</script>

</html>